{% extends "layout/main.html" %}


{% block body %}


<h2>Mailgun example</h2>
<form method="POST">
	<label>Send a an email to someone. Be nice.</label>
	<br>
	<label for="receipient">Receipient email:</label>
	<input type="email" id="receipient" name="receipient"><br>

	<label for="sender">Sender email:</label>
	<input type="email" id="sender" name="sender"><br>

	<label for="subject">Subject:</label>
	<input type="text" id="subject" name="subject"><br>

	<label for="message">Message:</label>
	<textarea id="message" name="message"></textarea><br>

	<input type="submit" class="btn" value="send it">
</form>

<hr>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}