{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout/main.html" %}


{% block body %}


<div class="row">

	<!-- left column -->
	<div class="span6">
		<h3>Submitted Ideas</h3>

		{% for idea in ideas %}
			<h4><a href="/ideas/{{ idea.slug }}">{{ idea.title }}</a></h4>
			<p>by {{ idea.creator }}</p>
			<p>
			{% for cat in idea.categories %}
				<span class="label label-inverse"><a href="/category/{{ cat}}">{{ cat|replace("_"," ")}}</a></span>
			{% endfor %}
			<a class="label" href="/ideas/{{ idea.slug }}/edit">edit</a>
			</p>
			
			<hr/>
		{% endfor %}
		
	</div>

	<div class="span6">
		

		<form method="POST" action="/">
			<legend><h3>Share Your Ideas</h3></legend>

			{% if form.errors %}

			    <ul class="errors">
			        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
			            {% for error in field_errors %}
			                <li class="alert">{{ form[field_name].label }}: {{ error }}</li>
			            {% endfor %}
			        {% endfor %}
			    </ul>
			{% endif %}

			{{ form.creator.label(class='myLabelCssClass') }}
			{{ form.creator(class='myTextboxCssClass') }}
			{{ render_error(form.creator) }}
			<!--
			<label for="creator">First Name</label>
			<input type="text" id="creator" name="creator" value="{{ form.creator }}">
			-->
			
			{{ form.title.label(class='myLabelCssClass') }}
			{{ form.title(class='myTextboxCssClass') }}
			
			<!--
			<label for="title">Project Title</label>
			<input type="text" id="title" name="title">
			-->
			{{ form.idea.label }}
			{{ render_textarea(form.idea, cols="50", rows="6") }} {# render_textarea inside _form_helpers.html #}
			

			<br>
			<label>Category</label>
			<span class="help-block">Select as many as you need.</span>

			
			{# comment - loop through categories and create checkboxes #}
			{% for c in categories|sort %}
			<label class="checkbox">
			<input type="checkbox" name="categories" value="{{ c|replace(" ","_") }}" {% if c|replace(" ","_") in form.categories.data %}checked=checked{% endif %} > {{ c|title }}
			</label>
			{% endfor %}


			<button type="submit" class="btn btn-primary">Add Idea</button>
		</form>
	</div>

	

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}